* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

body {
  background-color: black;
}

button {
  color: black;
  margin: 10px 2px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.7);;
  border-color: #00F5FF;
  border-width: 3px;
  border-radius: 10px;
  font-size: 15px;
}

button:first-child {
  margin-left: 25px;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    width:100%;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#userSearch {
  color: white;
  font-size:20px;
}

#addLabel {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#sport-input {
  color: black;
  margin: 5px 0px;
}

#addSport {
  color: black;
}

#display {
  padding-left: 30px;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

}

#userSearch {
  padding-left: 10px;
}
